# Ignore the project's node_modules directory
node_modules/

# Ignore test results directory
test-results/

# Ignore Cucumber feature files
features/

# Ignore assets directory
assets/

# Ignore generated Cucumber report
cucumber-report.html

# Ignore rerun information file
@rerun.txt

# Ignore the main HTML file of the project
index.html
